# requirements.txt
# pip install -r requirements.txt
Flask==1.1.2
flask-restplus==0.13.0
Werkzeug==0.16.1
Flask-Injector==0.12.1
injector==0.18.2
pandas==1.4.1
Flask-Cors==3.0.10
markupsafe==2.0.1
jinja2==3.0.3
itsdangerous==2.0.1
Flask-PyMongo==2.3.0
